[submodule "receipt/capacitor"]
	path = receipt/capacitor
	url = https://github.com/tiki/app-receipt-capacitor
[submodule "shopify/extensions"]
	path = shopify/extensions
	url = https://github.com/tiki/apps-shopify-extensions
[submodule "shopify/web"]
	path = shopify/web
	url = https://github.com/tiki/apps-shopify-web
[submodule "rewards/ios"]
	path = rewards/ios
	url = https://github.com/tiki/apps-rewards-ios
[submodule "rewards/android"]
	path = rewards/android
	url = https://github.com/tiki/apps-rewards-android
[submodule "rewards/capacitor"]
	path = rewards/capacitor
	url = https://github.com/tiki/apps-rewards-capacitor
